<li class="dropdown">
    <a class="dropdown-toggle" role="button" id="adminDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Admin Options 
      <span class="caret"></span>
    </a>
    <ul class="dropdown-menu" aria-labelledby="adminDropdown">
      <li id='pendingUsers'><a href="#account-requests">Account Requests</a></li>
      <li id='pendingEssays'><a href="#essay-location-requests">Essay/Location Requests</a></li>
      <li role="separator" class="divider"></li>
      <li id='allEssays'><a href="#essay-location-management">Essay/Location Management</a></li>
      <li id='allUsers'><a href="#account-management">Account Management</a></li>
      <li role="separator" class="divider"></li>
      <li id='adminCode'><a href="#admin-code">Admin Code</a></li>
    </ul>
</li>