<li class="adminDropdown dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
      Admin Options <span class="caret"></span>
    </a>
    <ul class="dropdown-menu">
      <li id='pendingUsers'><a>Account Requests</a></li>
      <li id='pendingEssays'><a>Essay/Location Requests</a></li>
      <li role="separator" class="divider"></li>
      <li><a href="#">More Options...</a></li>
      <li role="separator" class="divider"></li>
      <li><a href="#">More Options...</a></li>
    </ul>
</li>