<li class="dropdown">
    <a class="dropdown-toggle" type="button" id="adminDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Admin Options 
      <span class="caret"></span>
    </a>
    <ul class="dropdown-menu" aria-labelledby="adminDropdown">
      <li id='pendingUsers'><a>Account Requests</a></li>
      <li id='pendingEssays'><a>Essay/Location Requests</a></li>
      <li role="separator" class="divider"></li>
      <li id='allEssays'><a>Essay/Location Management</a></li>
      <li id='allUsers'><a>Account Management</a></li>
    </ul>
</li>