{% extends "layout.html" %}

{% block content %}
<div class='map-container'>
    {% if not loggedIn %}
        {% include "splashPage.html" %}
    {% endif %}
    {% include "popup.html" %}
    {% include "pending.html" %}
    <div id="googleMap"></div>
</div>
<div class="side-container panel panel-default">
    <div class="panel-heading">
        <ul class="nav nav-pills">
          <li class="active"><a data-toggle="tab" href="#recentEssays">Recent Submissions</a></li>
          <li><a data-toggle="tab" href="#op1">Something else</a></li>
          <li><a data-toggle="tab" href="#op2">Another thing</a></li>
        </ul>
    </div>
    <div class="panel-body">
        <div class="tab-content">
            <div id="recentEssays" class="tab-pane fade in active">
                <ul class="list-group recentEssays_list">
                </ul>
            </div>
            <div id="op1" class="tab-pane fade">
                <h3>Menu 1</h3>
                <p>Some content in menu 1.</p>
            </div>
            <div id="op2" class="tab-pane fade">
                <h3>Menu 2</h3>
                <p>Some content in menu 2.</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}