<!DOCTYPE HTML>
{% from "icon.html" import icon with context %}
<html>
    <head>
        <title>Fred Essay Tours</title>
        <meta name="description" content="Tours of Downtown Fredericksburg" />
        <meta name="keywords" content="Essay Tours, Fredericksburg Tours" />
        <meta http-equiv="content-type" content="text/html; charset=windows-1252" />
        <meta name="google-site-verification" content="6EDbGNPpG2JpKImJ8pEguAVu5SIqAXfZ0Z9TdEQoix8" />
        {% assets "all_CSS" %}
            <link rel="stylesheet" type="text/css" href="{{ ASSET_URL }}"/>
        {% endassets %}
        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/ico"/>
    </head>
    <body>
      <div id='svg-icons'></div>
      <nav class="navbar navbar-inverse">
        <div class="container-fluid">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#etg-nav" aria-expanded="false">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a id="brandLink" class="navbar-brand" href="/">
              {{ icon(['brandIcon'], 'flag') }}
              Tour Fredericksburg, Virginia
            </a>
          </div>
          <div class="collapse navbar-collapse" id="etg-nav">
            <ul class="featuresNav nav navbar-nav">
            </ul>
            <span id="accountActionSpan">
              <button type="button" id="accountActionButton" class="btn btn-info"></button>
              <button type="button" id="accountRegisterButton" class="btn btn-info">Register</button>
              <h5 id="welcomeMessage"></h5>
            </span>
          </div>
        </div>
      </nav>
        <div class="siteContent">
          {% block content %}
          {% endblock %}
        </div>
        {% if external %}
          {% assets "external_JS" %}
                <script type="text/javascript" src="{{ ASSET_URL }}"></script>
          {% endassets %}
        {% else %}
          {% assets "all_JS" %}
              <script type="text/javascript" src="{{ ASSET_URL }}"></script>
          {% endassets %}
        {% endif %}
    </body>
</html>