<!DOCTYPE HTML>
{% from "icon.html" import icon with context %}
<html>
    <head>
        <title>dev.fredessaytours</title>
        <meta name="description" content="In development essay tours of frederic" />
        <meta name="keywords" content="Essay Tours, Fredericksburg Tours" />
        <meta http-equiv="content-type" content="text/html; charset=windows-1252" />
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap/bootstrap.min.css') }}"/>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/icons.css') }}"/>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}"/>
        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/ico"/>
    </head>
    <body>
      <div id='svg-icons'></div>
      <nav class="navbar navbar-inverse">
        <div class="container-fluid">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a id="brandLink" class="navbar-brand" href="/">
              {{ icon(['brandIcon'], 'flag') }}
              ETG
            </a>
          </div>
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li><a href="#">Action</a></li>
                  <li><a href="#">Another action</a></li>
                  <li><a href="#">Something else here</a></li>
                  <li role="separator" class="divider"></li>
                  <li><a href="#">Separated link</a></li>
                  <li role="separator" class="divider"></li>
                  <li><a href="#">One more separated link</a></li>
                </ul>
              </li>
            </ul>
            <span id="accountActionSpan">
              <button type="button" id="accountActionButton" class="btn btn-info" data-poload="login.html" data-placement="bottom"></button>
            </span>
          </div>
        </div>
      </nav>
        <div class="siteContent">
          {% block content %}
          {% endblock %}
        </div>  
        <script src="{{ url_for('static', filename = 'js/jquery-1.11.3.min.js') }}"></script>
        <script src="{{ url_for('static', filename = 'js/bootstrap/bootstrap.min.js') }}"></script>
        <script src="{{ url_for('static', filename = 'js/jquery.jrumble.1.3.js') }}"></script>
        <script src="{{ url_for('static', filename = 'js/custom/etg.js') }}"></script>
        <script src="https://maps.googleapis.com/maps/api/js?v=3.key=AIzaSyDeovcMJI1fqgbiZeyKwNDiBI3N8ghcmEc&dummy=.js"></script>
        <script src="{{ url_for('static', filename = 'js/custom/maps.js') }}"></script>
    </body>
</html>