<form id="registerForm" action="" method="post">
  <div class="form-group">
    <div class="col-xs-5">
      <input type="text" class="form-control" name="reg_first" placeholder="Enter First Name...">
    </div>
    <div class="col-xs-5">
      <input type="text" class="form-control" name="reg_last" placeholder="Enter Last Name...">
    </div>
    <div class="col-xs-5">
      <input type="text" class="form-control emailField" name="reg_email" placeholder="Enter Email...">
    </div>
    <div class="col-xs-5">
      <input type="password" class="form-control hidden adminCode" name="reg_admin_code" placeholder="Enter Admin Code...">
    </div>
    <button type="button" class="btn btn-primary registerButton">Register</button>
    <div class="checkbox">
      <label><input class="adminCheckbox" type="checkbox" value="">Are you an Admin?</label>
    </div>
  </div>
  
</form>