<form id="registerForm" action="" method="post">
  <div class="form-group">
    <span>
      <div class="col-xs-5">
        <input type="text" class="popupTextBox form-control" id="reg_first" placeholder="Enter First Name...">
      </div>
      <div class="col-xs-5">
        <input type="text" class="popupTextBox form-control" id="reg_last" placeholder="Enter Last Name...">
      </div>
    </span>
    <div class="col-xs-10">
      <input type="text" class="popupTextBox form-control" id="reg_email" placeholder="Enter Email...">
    </div>
    <button type="button" class="btn btn-primary registerButton">Register</button>
  </div>
</form>