{% from "icon.html" import icon with context %}
<div id="splash_modal" class="modal fade" role="dialog" data-backdrop="static" data-keyboard="false">
  <div id="splash-wrapper" class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Welcome {{firstName}} {{lastName}}</h4>
        <h5><i>Please Reset your password below</i></h5>
      </div>
      <div class="modal-body">
        <form id="setPasswordForm" action="" method="post">
          <div class="form-group">
            <span>
              <div class="col-xs-5">
                <input type="password" id="password" class="form-control" name="password" placeholder="Enter new password...">
              </div>
              <div class="col-xs-5">
                <input type="password" id="passwordVerify" class="form-control" name="passwordVerify" placeholder="Enter new password again...">
              </div>
              <input type="hidden" name="userId" value="{{userId}}">
            </span>
            <button type="button" class="btn btn-primary setPasswordButton">Set Password</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>