.accIcon {
  display: inline;
  float: right;
  width: 40px;
  height: 40px;
  fill: white;
}

.approveButton > div.im, .denyButton > div.im {
  margin: 0px 0px 0px 5px;
}

.approveButton > div.im {
    height: 15px;
    width: 20px;
    fill: green;
}

.denyButton > div.im {
    height: 15px;
    width: 20px;
    fill: red;
}

#brandLink {
  display: inline-flex;
}

#brandLink:hover > .brandIcon {
  fill: white;
}

.brandIcon {
  height: 22px;
  width: 22px;
}

#brandLink > .brandIcon {
  fill: #b2dbfb;
}

.pendingLocation {
  height: 8px;
  width: 30px;
  margin: 0px 0px 0px 30px;
  fill: #757575;
}

.pendingLocation:hover {
  fill: green;
}

.loadingIcon {
  height: 30px;
  width: 30px;
  display: block;
  margin: auto;
}