{% extends "layout.html" %}

{% block content %}
<div class='map-container'>
    {% include "splashPage.html" %}
    <div id="googleMap">
        
    </div>
</div>
<div class="side-container panel panel-default">
    <div class="panel-heading">Recent Submissions</div>
    <div class="panel-body">
        <ul class="list-group">
          <li class="list-group-item">{% include "recentEssay.html" %}</li>
          <li class="list-group-item">{% include "recentEssay.html" %}</li>
          <li class="list-group-item">{% include "recentEssay.html" %}</li>
          <li class="list-group-item">{% include "recentEssay.html" %}</li>
          <li class="list-group-item">{% include "recentEssay.html" %}</li>
          <li class="list-group-item">{% include "recentEssay.html" %}</li>
          <li class="list-group-item">{% include "recentEssay.html" %}</li>
          <li class="list-group-item">{% include "recentEssay.html" %}</li>
          <li class="list-group-item">{% include "recentEssay.html" %}</li>
        </ul>
    </div>
</div>
{% endblock %}