<!-- Modal -->
<div id="loginModal" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Login</h4>
      </div>
      <div class="modal-body">
        <form action="action_page">
            <div class="form-group" id="newPostSection">
              <div class="col-xs-4">
                <label for="loginUsername">Email:</label>
                <input type="text" class="form-control" id="loginUsername" placeholder="Enter Username...">
              </div>
              <div class="col-xs-4">
                <label for="loginPassword">Password:</label>
                <input type="password" class="form-control" id="loginPassword" placeholder="Enter password..." >
              </div>
              <button class="btn btn-primary" type="button" id="submitNewPost">Login</button>
            </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>