<!-- Modal -->
<div id="login-modal" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Login</h4>
      </div>
      <div class="modal-body">
        <div class="alert alert-success">
          If you already have an account, login here!
        </div>
        <form action="action_page">
            <div class="form-group">
              <div class="col-xs-6">
                <input type="text" class="popupTextBox form-control" id="log-email" placeholder="Enter Email...">
              </div>
              <div class="col-xs-6">
                <input type="password" class="popupTextBox form-control" id="log-pass" placeholder="Enter Password..." >
              </div>
            </div>
        </form>
      </div>
      <div id="login-footer" class="modal-footer">
        <button class="btn btn-primary" type="button">Login</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>