{% extends "layout.html" %}

{% block content %}
<div class='map-container'>
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d25049.518738563518!2d-77.48988705000001!3d38.29826909999998!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89b6c1ebbaeae025%3A0x7fa6450a21a691a1!2sFredericksburg%2C+VA!5e0!3m2!1sen!2sus!4v1443620215399" \
        width="1550" height="1000" frameborder="0" style="border:0" allowfullscreen>
    </iframe>
</div>
<div class="side-container panel panel-default">
    <div class="panel-heading">Recent Submissions</div>
    <div class="panel-body">
        <ul class="list-group">
          <li class="list-group-item">{% include "recentEssay.html" %}</li>
          <li class="list-group-item">{% include "recentEssay.html" %}</li>
          <li class="list-group-item">{% include "recentEssay.html" %}</li>
          <li class="list-group-item">{% include "recentEssay.html" %}</li>
          <li class="list-group-item">{% include "recentEssay.html" %}</li>
          <li class="list-group-item">{% include "recentEssay.html" %}</li>
          <li class="list-group-item">{% include "recentEssay.html" %}</li>
          <li class="list-group-item">{% include "recentEssay.html" %}</li>
          <li class="list-group-item">{% include "recentEssay.html" %}</li>
        </ul>
    </div>
</div>
{% endblock %}