<!-- Modal -->
<div id="register-modal" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Register</h4>
      </div>
      <div class="modal-body">
        <div class="alert alert-success">
          This information will be submitted to the site admin for approval.
          Upon approval you will recieve an email with instructions to set your password.
        </div>
        <form action="action_page">
            <div class="form-group" id="newPostSection">
              <span>
                <div class="col-xs-6">
                  <input type="text" class="popupTextBox form-control" id="reg-first" placeholder="Enter First Name...">
                </div>
                <div class="col-xs-6">
                  <input type="text" class="popupTextBox form-control" id="reg-last" placeholder="Enter Last Name...">
                </div>
              </span>
              <div class="col-xs-12">
                <input type="text" class="popupTextBox form-control" id="reg-email" placeholder="Enter Email...">
              </div>
            </div>
        </form>
      </div>
      <div id="register-footer" class="modal-footer">
        <button type="button" class="btn btn-primary">Request Account!</button>
        <button type="button" class="btn btn-warning" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>