<div id="splash_modal" class="modal fade" role="dialog">
  <div id="splash-wrapper" class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Welcome To <strong>ETG</strong></h4>
        <h5><i>(The Essay Tour Guide Application)</i></h5>
      </div>
      <div class="modal-body">
        <div class="panel-group" id="accordion">
          <div class="panel panel-primary">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#loginCollapse">Login Here:</a>
              </h4>
            </div>
          </div>
          <div id="loginCollapse" class="panel-collapse collapse in">
            <div class="panel-body">
              {% include "login.html" %}
            </div>
          </div>
          <div class="panel panel-primary">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#registerCollapse">Register Here:</a>
              </h4>
            </div>
          </div>
          <div id="registerCollapse" class="panel-collapse collapse in">
            <div class="panel-body">
              {% include "register.html" %}
            </div>
          </div>
            <h5>Don't want an account?</h5>
            <p>Feel free to browse around, read some essays written the the students of the University of Mary Washington!</p>
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#splash_modal">Continue to Map...</button>
          </div>
          {{ returnImage('basicAccount') }}
        </div>
      </div>
  </div>
</div>