{% extends "layout.html" %}

{% block content %}
<div class='map-container'>
    {% if context == 'loggedOut' %}
        {% include "splashPage.html" %}
    {% elif context == 'setPassword' %}
        {% include "setPassword.html" %}
    {% endif %}
    {% include "popup.html" %}
    {% include "pending.html" %} 
    <div id="googleMap"></div>
</div>
<div class="side-container panel panel-default">
    <div class="panel-heading">
        <ul class="essayTabs nav nav-pills">
          <li class="active"><a data-toggle="tab" href="#recentEssays">Recent Submissions</a></li>
        </ul>
    </div>
    <div class="panel-body">
        <div class="essayTabContent tab-content">
            <div id="recentEssays" class="tab-pane fade in active">
                <ul class="list-group recentEssays_list">
                </ul>
            </div>
        </div>
    </div>
</div>
{% endblock %}